@charset "UTF-8";
/* Importar Fontes por Link */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Adicionar fontes ao HTML CSS */
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/* Variaveis em CSS, Cores, Fontes */
:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;

}

/* Configuração Global */
* {
    margin: 0px;
    padding: 0px;
}

/* Estilo do Body */
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

/* Simbolo de Link */
a.externo::after {
    content: '\00A0\1F517' ;
}

p.degradeP {
    background-image: linear-gradient(to bottom, #83e1ad48, white);
    
    border-radius: 10px;
    display: block;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.37);
}

p#centro {
    text-align: center;
}

/* Estilo do Body */
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

/* Estilo do titulo h1 no Body */
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    transition-duration: .5s;
}

/* Estilo do paragrafo no Body */
header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 700px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
    
}

/* Estilo nav do menu no Body */
nav {
    text-align:left;
    background-color: var(--cor5);
    padding: 15px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

/* Estilo nav do menu no Body */
nav > a {
    color: var(--cor1);
    padding: 5px 85px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;

}

/* Estilo nav do menu no Body */
nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);

}

/* Estilo do main, conteudo principal no Body */
main {

    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Estilo do main h1, titulo do main dentro do Body */
main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
    text-indent: 15px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    border-radius: 15px;
}

/* Estilo do main h2, subtitulo no main dentro do Body */
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 10px;
    font-weight: normal;
    border-radius: 10px;
    
}

/* Estilo do main p, paragrafo no main dentro do Body */
main p {
    margin: 25px 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: justify;
    font-weight: normal;
    text-indent: 15px;
    font-size: 1em;
    line-height: 2.2em;
}

/* Estilo do main strong, palavra em negrito no main dentro do Body */
main strong {
    color: var(--cor4);
    font-weight: bold;
}

/* Estilo do main link, link no main dentro do Body */
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px;
}

/* Estilo do main link, link sublinhado no main dentro do Body */
main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

/* Estilo do main imagem, tamanho da imagem no main dentro do Body */
main img {
    width: 100%;
}

/* Estilo do main imagem, imagem responsiva pequena no main dentro do Body */
main img.pequena {
    max-width: 330px;
    display: block;
    margin: auto;
}

/* Estilo do main video, video responsivo no main dentro do Body */
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58.5%;
    position: relative;
}

/* Estilo do main video, video responsivo no main dentro do Body */
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

/* Estilo do main aside, lista no main dentro do Body */
aside {
    background-color: var(--cor1);
    padding: 15px;
    border-radius: 18px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
}

/* Estilo do main aside, mudança de cor da caixa da lista no main dentro do Body */
aside:hover {
    background-color: var(--cor2);
    transition-duration: 0.8s;
    border-radius: 30px;
}

/* Estilo do main, aside, h3, subtitulo h3 no main dentro do Body */
aside > h3 {
    background-color: var(--cor4);
    color: white;
    font-family: var(--fonte-android);
    font-weight: normal;
    padding: 10px;
    margin: -15px -14px 0px -14px;
    border-radius: 10px 10px 0px 0px;
}

/* Estilo do main aside, simbolos na lista do aside no main dentro do Body */
aside > ul {
    list-style-type: '\2705\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside > p {
    font-weight: bold;
    font-family: var(--fonte-padrao);
}

/* Estilo do main rodapé no main dentro do Body */
footer {
    background-color: var(--cor5);
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 1em;
    padding: 6px;
}

/* Rodapé */
footer > p > a {
    color: white;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}

/* Rodapé */
footer a:hover {
    text-decoration: underline;
    background-color: var(--cor4);
    transition-duration: 0.4s;
    color: var(--cor1);
}